.nav {
  background-color: lightblue;
  border-bottom: 1px solid blue;
  padding: 5;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  display: flex;
}
body {
  margin: 0;
  background-color: antiquewhite;
  padding-top: 80px;
}
.nav a {
  background-color: rgb(171, 176, 180);
  color: rgb(43, 83, 114);
  padding: 10px;
  margin: 4px;
  border: 1px solid black;
}
.header {
  color: white;
  background-color: rgb(92, 150, 217);
  border: 2px solid blue;
  margin: 10px;
  padding: 20px;
}
.homepage {
  padding: 20px;
  
}
